<?xml version="1.0" encoding="UTF-8"?>

<beans 
	xmlns="http://www.springframework.org/schema/beans"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 	xmlns:p="http://www.springframework.org/schema/p" 
 	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	 
	 <bean id="Qac"  class="com.Anjum.Spring.dto.Qac">
	 <property name="EmpId"  value="1"></property>
  <property name="EName"  value="shilpa"></property>
   <property name="Adress"  value="raichur"></property>
    <property name="Email"  value="1"></property>
	 
	 </bean>
  <bean id="anjum"  class="com.Anjum.Spring.dto.Qac">
	 <property name="EmpId"  value="1"></property>
  <property name="EName"  value="anjum"></property>
   <property name="Adress"  value="raichur"></property>
    <property name="Email"  value="1"></property>
    </bean>
 </beans>